*{
margin: 0;
 padding:0;
  box-sizing: border-box;
}@font-face {font-family: 'Unbounded';
    src: url('font.ttf');
}

header{background-color#F6F7F9;font-family: 'Unbounded';color:#343e51}
 
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{background:white;}
::-webkit-scrollbar-thumb{background:white;}::-webkit-scrollbar-thumb:hover{background:#D16B86;}

nav{
display: flex;
align-items: center;
justify-content: space-around;
font-family: 'Unbounded';color:#343e51
}

.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;color:#343e51
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
	 position: relative;color:#343e51
}

nav ul li a::after{
     content: '';

 height: 4px;
 background: purple;
 position: absolute;
 left: 0;
bottom:-6px; I
transition:0.5s;
}

nav ul li a:hover::after{
width: 100%;}

body {
  font-family: 'Unbounded';
 text-align:center;
  padding: 1px;
}

.heading {
  font-size: 40px;
  font-weight:500;
 margin-right:25px;
 color:purple;
 
}



.checked {
  color: purple;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: pink ;}
.bar-4 {width: 30%; height: 18px; background-color: #7251A5;}
.bar-3 {width: 10%; height: 18px; background-color: purple;}
.bar-2 {width: 4%; height: 18px; background-color: #393D67;}
.bar-1 {width: 15%; height: 18px; background-color:#D8537A;}





.site-footer
{
 width:110%;
    height: 400px;
    background-image: url("ft.png");
    background-size: cover;
    background-position: center;
}

.social-icons li
{
  display:inline-block;

}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:45px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;

  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{

  color:black;
  background-color:#29aafe;
}

.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
.feature_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left:160
}

.columns {
  display: flex;
  flex-direction: column;
  align-items: center;
padding:20px;
}

.features {
  box-sizing: border-box;
  border-radius: 0.3rem;
  padding: 2rem;
  margin: 1.1rem 0;
  width: 22rem;
  height: 20rem;
  
  box-shadow: 0px 12px 10px rgba(80, 120, 248, 0.2);
}

.features p {
  font-size: 1rem;
}

h1 {
  font-weight: 20;
  font-size: 4rem;
  margin-bottom: 1rem;
 
}

strong {
  font-weight: 600;
}

p {
 
  font-size: 1.2rem;
}
h3 {
  font-weight: 600;
  font-size: 1.3rem;
 
}


.first_box {
  align-self: flex-end;
  border-top: 4px solid #00fa9a;
}

.second_box {
  border-top: 4px solid #ff69b4;
}

.third_box {
  border-top: 4px solid #48d1cc;
}

.last_box {
  align-self: flex-start;
  border-top: 4px solid #ffa07a;
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
}

.attribution a {
  color: #020814;
}

.features:hover {
  transform: scale(1.2);
}



